@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Patua+One|Abril+Fatface");
/* line 17, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 18pt; }

/* line 22, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
main {
  min-height: 100vh;
  padding-top: 140px; }

/* line 26, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  margin: 0;
  padding: 0; }

/* line 31, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
a {
  color: #333; }
  /* line 33, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
  a:hover {
    color: #000;
    text-decoration: none; }

/* line 39, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
.btn {
  border-radius: 0; }

/* line 43, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
#logo {
  display: inline-block;
  width: auto;
  z-index: 2;
  text-align: center;
  font-size: 64pt;
  line-height: 54pt;
  text-transform: uppercase;
  text-decoration: none;
  color: #f87373; }
  /* line 54, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
  #logo:hover {
    text-decoration: none; }
  @media (max-width: 992px) {
    /* line 43, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
    #logo {
      margin-top: 8px;
      text-align: left;
      font-size: 32pt;
      line-height: 27pt; } }

/* line 66, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
#logo-sub {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 21pt;
  line-height: 21pt;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 0; }
  @media (max-width: 992px) {
    /* line 66, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
    #logo-sub {
      text-align: left;
      font-size: 10.5pt;
      line-height: 10.5pt; } }

/* line 83, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 3;
  background: #fff;
  text-align: center;
  padding: 20px; }
  @media (max-width: 992px) {
    /* line 83, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
    header {
      padding: 10px; } }

/* line 95, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
footer {
  margin-top: 50px;
  padding: 40px;
  text-align: center;
  background: #f8f8f8; }
  /* line 101, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
  footer nav a {
    margin: 15px; }
    /* line 103, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
    footer nav a:hover {
      border-bottom: 1px solid #333; }

/* line 110, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
article h2 {
  margin-top: 20px;
  font-weight: 300; }

/* line 116, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
.img-article {
  display: block;
  margin: 200px; }

/* line 121, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px; }

/* line 126, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
.ad-slot {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ddd;
  min-height: 300px;
  text-align: center;
  padding: 20px;
  height: 300px; }
  /* line 134, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
  .ad-slot:before {
    content: 'AD'; }

/* line 138, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
.block {
  width: 100%;
  height: 300px;
  background: #fff;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: background-color 0.3s;
  margin-bottom: 10px; }
  @media (max-width: 1199px) {
    /* line 138, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
    .block {
      height: 240px; } }
  @media (max-width: 992px) {
    /* line 138, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
    .block {
      height: 200px; } }
  /* line 155, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
  .block:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s; }
  /* line 167, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
  .block:hover:before {
    background-color: rgba(255, 255, 255, 0); }
  /* line 170, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
  .block:hover h3 {
    color: #000;
    transition: color 0.3s; }
  /* line 177, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
  .block.recepie-thumb h3 {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    display: block;
    background: rgba(255, 255, 255, 0.8);
    border-top: 1px solid #fff;
    padding: 10px;
    color: #666;
    font-size: 18pt;
    text-align: center;
    font-weight: 200; }
  /* line 193, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
  .block.recepie-thumb:hover h3 {
    color: #000;
    background: rgba(255, 255, 255, 0.9); }

/* line 209, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
#menu {
  display: none;
  position: fixed;
  z-index: 1000;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.97); }
  /* line 219, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
  #menu.open {
    display: block; }
  /* line 223, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
  #menu nav {
    text-align: center;
    font-size: 40pt;
    padding: 100px; }
    /* line 229, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
    #menu nav a {
      color: #000;
      display: block;
      text-decoration: none;
      line-height: 40pt;
      margin-bottom: 30px; }
      /* line 235, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
      #menu nav a:hover {
        color: #444; }

/* line 243, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
#menu-btn {
  position: fixed;
  z-index: 1001;
  top: 25px;
  right: 25px;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 61px;
  height: 61px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  background-color: #f87373; }
  @media (max-width: 992px) {
    /* line 243, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
    #menu-btn {
      top: 10px;
      right: 10x; } }
  /* line 272, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
  #menu-btn:focus {
    outline: none; }
  /* line 276, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
  #menu-btn span {
    display: block;
    position: absolute;
    top: 29.5px;
    left: 14px;
    right: 14px;
    height: 2px;
    background: white;
    transition: background 0s 0.15s; }
    /* line 287, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
    #menu-btn span::before,
    #menu-btn span::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #fff;
      content: "";
      transition-duration: 0.15s, 0.15s;
      transition-delay: 0.15s, 0s; }
    /* line 299, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
    #menu-btn span::before {
      top: -11px;
      transition-property: top, transform; }
    /* line 304, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
    #menu-btn span::after {
      bottom: -11px;
      transition-property: bottom, transform; }
  /* line 312, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
  #menu-btn.is-active span {
    background: none; }
    /* line 315, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
    #menu-btn.is-active span::before {
      top: 0;
      transform: rotate(45deg); }
    /* line 320, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
    #menu-btn.is-active span::after {
      bottom: 0;
      transform: rotate(-45deg); }
    /* line 326, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
    #menu-btn.is-active span::before,
    #menu-btn.is-active span::after {
      transition-delay: 0s, 0.15s; }

/* line 335, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
#whatIsCleanEating {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }
  /* line 337, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
  #whatIsCleanEating h3 {
    font-family: 'Patua One', cursive;
    font-size: 64pt;
    text-align: center;
    text-shadow: 0 0 1px #000;
    color: #fff;
    text-decoration: none; }

/* line 347, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
#fragorOchSvar {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }
  /* line 349, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
  #fragorOchSvar h3 {
    font-family: 'Patua One', cursive;
    font-size: 48pt;
    text-transform: uppercase;
    text-align: center; }

/* line 356, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
#doktornSvarar {
  position: relative; }
  /* line 359, /Users/kodninja/Dropbox/cleaneat.se/css/base.scss */
  #doktornSvarar h3 {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    font-family: 'Patua One', cursive;
    text-shadow: 0 0 2px #000;
    color: #fff;
    line-height: 36pt;
    font-size: 44pt;
    text-align: center; }

/*# sourceMappingURL=base.css.map */
